<html>
    <head>
        <title>... recommendations</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/styles.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon_io/site.webmanifest">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <a class="navbar-brand" href="/"><img src="/assets/bookmark.png" height="20" />book recommender</a>
            <form class="form-inline my-2 my-lg-0" action="/search">
                <input class="form-control mr-sm-2" name="search-string" type="search" placeholder="Search books" aria-label="Search books">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>

        <div class="main container">
            <h1 class="recommendation-title">because you like: <span class="recommendation-book">{{.RefBook.Title}}</span></h1>
            {{range .Recs}}
            <div class="card book-card" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{.BookData.ImgURL}}" class="card-img" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{.BookData.Title}}</h5>
                            <p class="card-text">{{.BookData.Authors}}</p>
                            {{ if .BookData.PubYear.Valid }}
                                <p class="card-text rating-section"><small class="text-muted"><img src="/assets/star.png" height="10" />{{.BookData.Rating.Float64}} | {{.BookData.PubYear.Int64}}</small></p>
                            {{ else }}
                                <p class="card-text rating-section"><small class="text-muted"><img src="/assets/star.png" height="10" />{{.BookData.Rating.Float64}}</small></p>
                            {{ end }}
                            <a href="/recommend?book_id={{.BookData.BookID}}"><button class="btn btn-outline-dark">Get Recommendations</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>